<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="EsEngine" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
      <section name="CoUCenterSDK4Server" type="Es.ConfigCoUCenterSDK4Server, EsEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	  <section name="CoCouchbase" type="Es.ConfigCoCouchbase, EsEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="CoRabbitMQ" type="Es.ConfigCoRabbitMQ, EsEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="CoCluster" type="Es.ConfigCoCluster, EsEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="Common" type="Es.ConfigCommon, EsEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <EsEngine>
    <CoUCenterSDK4Server UCenterZkPath="/UCenter/1.00.000" UCenterMQHostName="121.40.153.103"
      UCenterMQPort="5672" UCenterMQUserName="Cragon" UCenterMQPassword="123321"
      UCenterMQVirtualHost="UCenter" />
	<CoCouchbase DllPath="" BucketName="" BucketPwd="" User="" Pwd="" Url="" />
    <CoRabbitMQ HostName="121.40.153.103" Port="5672" UserName="Cragon" Password="123321" VirtualHost="UCenter" />
    <CoCluster ZkClientIp="114.215.199.28" ZkClientPort="2181" />
    <Common Version="1.00.000" />
  </EsEngine>
</configuration>